{% extends 'Layout.html.twig' %}
{% block content %}
    <ol>
    {% for submission in submissions %}
        <li>
          <a href="{{ submission.url }}">{{ submission.title }}</a>
        </li>
    {% endfor %}
    </ol>
{% endblock %}